label, h1, a, button {
  color: #d4c6a7 !important;
}
a {
  text-decoration: none !important; 
}
a:hover, button:hover {
  color: #b59f6e !important;
}

#types>div {
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
  border-style: none;
}

#types>div:hover {
  background-color: #bab7af;
  opacity: 50%;
  border-radius: 0;
}

#types>.active {
  background-color: #d4c6a7;
  border-radius: 0%;
}

#typeName {
  font-size: larger;
}

.card {
  cursor: pointer;
}

.star {
  width: 15%;
}

.deviceStar {
  width: 5%;
}

#info {
  width: 33.3333%;
}

#deleteInfo {
  width: 33.333%;
}



